extension/common/debug.log
extension/common/inject.min.js
extension/common/inject.min.js.map
extension/common/inject.min.css
DebugSettings.template.xml
Properties/build/lib/Ionic.Zip.DLL
Properties/build/lib/MSBuild.ExtensionPack.dll
Properties/build/ligershark.chrome.targets
Pushbully.csproj
Pushbully.csproj.user
web.Debug.config
web.Release.config
web.config
app/inject.min.css
app/inject.min.js
app/inject.min.js.map
