.pushbully-button {
	position:relative !important;
	float: right !important;
	margin-right: 0px !important;
 	margin-bottom: 10px !important;
	margin-top: 0px !important;
	padding: 5px 10px 5px !important;
}

.pushbully-chk {
	position:absolute !important;
	right:10px !important;
	top:0px !important;
	margin:1px !important;
}

.checked .pushbully-chk-box {
	background-color: red !important;
}