@charset 'UTF-8';

#pushbully-button-box {
    position: relative !important;
    -moz-box-sizing: border-box !important;
    -webkit-box-sizing: border-box !important;
    box-sizing: border-box !important;
    margin-left: 70px !important;
    margin-bottom: 5px !important;
    width: 530px !important;
    height: 30px !important;
}

.pushbully-button {
    position: relative !important;
    float: right !important;
    margin: 0 0 10px 5px !important;
    padding: 5px 10px 5px !important;
}

    .pushbully-button:enabled {
        cursor: pointer;
    }

    .pushbully-button:disabled {
        cursor: auto;
    }

#refresh-boxes-button {
    float: left !important;
    margin-left: 0 !important;
}

    #refresh-boxes-button:hover {
        background-color: #3498db !important;
    }

#delete-all-button:hover:enabled {
    background-color: #e67e22 !important;
}

#select-all-button:hover:enabled {
    background-color: #9b59b6 !important;
}

#delete-selected-button {
    margin-right: 0 !important;
}

    #delete-selected-button:hover:enabled {
        background-color: red !important;
    }

.standard-push-icon {
    cursor: pointer !important;
}

.standard-push-icon:hover {
    background-color: #ffffff !important;
}

.checkbox.pushbully-chk {
    display: inline-block !important;
    vertical-align: baseline !important;
    position: absolute !important;
    right: 0 !important;
    top: 15px !important;
}

div.checkbox.pushbully-chk div {
    background-color: #bdc3c7 !important;
}

    div.checkbox.pushbully-chk div i {
        color: #bdc3c7 !important;
    }

    div.checkbox.pushbully-chk div:hover i,
    div.checkbox.checked.pushbully-chk div i {
        color: #ffffff !important;
    }

div.checkbox.checked.pushbully-chk div {
    background-color: #e74c3c !important;
}

    div.checkbox.checked.pushbully-chk div:hover i {
        color: #e74c3c !important;
    }

.push {
    width: 650px !important;
}

i.push-close.pointer, i.push-share.pointer {
    right: 25px !important;
}
