@charset 'UTF-8';

#pushbully-button-box {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    margin: 0 0 10px 0;
    float: right;
    clear: both;
    width: 100%;
    height: auto;
    display: flex;
    justify-content: space-between;
}

/*#region buttons*/

.pushbully-button {
    padding: 5px 9px !important;
    cursor: pointer !important;
    margin: 0 !important;
    border-radius: 0 !important;
    flex-grow: 1 !important;
}

    .pushbully-button:disabled {
        cursor: auto !important;
    }

#select-all-button {
    min-width: 111px !important;
    border-bottom-left-radius: 6px !important;
    border-top-left-radius: 6px !important;
}

    #select-all-button:enabled:hover {
        background-color: #9B59B6 !important;
    }

#delete-selected-button {
    min-width: 154px !important;
}

    #delete-selected-button:enabled:hover {
        background-color: #E67E22 !important;
    }

#refresh-boxes-button:enabled:hover {
    background-color: #3498DB !important;
}

#delete-all-button {
    border-bottom-right-radius: 6px !important;
    border-top-right-radius: 6px !important;
}

    #delete-all-button:enabled:hover {
        background-color: #E74C3C !important;
    }

/*#endregion*/

/*#region pushes*/

.pushbully {
    border: 5px solid transparent !important;
    border-width: 6px 0 !important;
}

    .pushbully.highlit {
        border-color: #59ab46 !important;
    }

    .pushbully.checked {
        background-color: #F9DAD7 !important;
    }

        .pushbully.checked .push-share {
            color: transparent !important;
        }

    /*#region checkboxes*/

    .pushbully .profile-pic {
        border-style: solid !important;
        border-width: 2px !important;
        cursor: pointer !important;
        -webkit-touch-callout: none !important;
        -webkit-user-select: none !important;
        -moz-user-select: none !important;
        -ms-user-select: none !important;
        user-select: none !important;
        /*line-height: 54px;*/ /*136%*/
    }

    .pushbully.checked .profile-pic {
        border: none !important;
        border-radius: 0 !important;
    }
/*#endregion*/

/*#endregion*/

/*#region modifications*/

.physics {
    clear: both !important;
}

/*#endregion*/
