@charset 'UTF-8';

div.note {
    float: right !important;
    width: 530px !important;
    margin: 0 !important;
}

#pushbully-button-box {
    -webkit-box-sizing: border-box !important;
    -moz-box-sizing: border-box !important;
    box-sizing: border-box !important;
    position: relative !important;
    margin: 0 0 7px 0 !important;
    float: right !important;
    width: 530px !important;
    height: auto !important;
}

.pushbully-button {
    position: relative !important;
    padding: 5px 9px !important;
    margin: 0 3px !important;
}

    .pushbully-button:disabled {
        cursor: auto !important;
    }

    .pushbully-button:not(:disabled) {
        cursor: pointer !important;
    }

#select-all-button {
    min-width: 111px !important;
    margin-left: 0 !important;
    float: left !important;
}

#delete-selected-button {
    min-width: 154px !important;
    margin-right: 0 !important;
    float: left !important;
}

#delete-all-button {
    float: right !important;
}

#refresh-boxes-button {
    margin-right: 0 !important;
    float: right !important;
}

/*||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||*/

.pushbully > .panel {
    outline: solid 4px transparent !important;
}

.pushbully.selected > .panel {
    outline: solid 4px #59ab46 !important;
}

.pushbully.checked > .panel {
    background-color: #FAE5E3 !important;
}

.pushbully.checked > .push-share {
    color: transparent !important;
}

.pushbully > .avatar-stack > .pbcbox::before {
    content: none !important;
}

.pbcbox {
    background-position: right bottom !important;
    background-repeat: no-repeat !important;
    /*border-color: transparent !important;*/
    background-size: 100% !important;
    border-style: solid !important;
    border-width: 4px !important;
    cursor: pointer !important;
    -webkit-touch-callout: none !important;
    -webkit-user-select: none !important;
    -moz-user-select: none !important;
    -ms-user-select: none !important;
    user-select: none !important;
    line-height: 54px !important; /*136%*/
}

    .pbcbox.push-chat,
    #delete-all-button:hover:enabled {
        background-color: #E67E22 !important;
        border-color: #E67E22 !important;
    }

    .pbcbox.push-link,
    #refresh-boxes-button:hover:enabled {
        background-color: #3498DB !important;
        border-color: #3498dB !important;
    }

    .pbcbox.push-clip,
    #delete-all-button:hover:enabled {
        background-color: #E74C3C !important;
        border-color: #E74C3C !important;
    }

    .pbcbox.push-list,
    #select-all-button:hover:enabled {
        background-color: #9B59B6 !important;
        border-color: #9B59B6 !important;
    }

    .pbcbox.push-map {
        background-color: #F1C40F !important;
        border-color: #F1C40F !important;
    }

    .pbcbox:hover {
        border-style: dotted !important;
    }

.pushbully:not(.checked)  .pbcbox:hover {
    border-color: white !important;
}

.pbcbox:hover,
.pushbully.checked .pbcbox {
    background-size: 45% !important;
}

    .pbcbox:hover::before,
    .pushbully.checked  .pbcbox::before {
        content: none !important;
    }

    .pushbully.checked .pbcbox::after {
        color: #E74C3C !important;
    }

    .pbcbox:hover::after,
    .pushbully.checked  .pbcbox::after {
        content: "\f003" !important;
    }

    .pushbully.checked  .pbcbox:hover {
        background-color: #ECF0F1 !important;
    }

    .pushbully.checked  .pbcbox:not(:hover) {
        background-color: transparent !important;
    }

    .pbcbox,
    .pbcbox,
    .pbcbox::after,
    .pbcbox:hover,
    .pbcbox:hover::before,
    .pbcbox:hover::after,
    .pushbully .panel {
        -moz-transition: all ease-in-out .25s !important;
        -o-transition: all ease-in-out .25s !important;
        -webkit-transition: all ease-in-out .25s !important;
        transition: all ease-in-out .25s !important;
    }
