@charset 'UTF-8';

#pushbully-button-box {
    position: relative !important;
    float: right !important;
    -moz-box-sizing: border-box !important;
    -webkit-box-sizing: border-box !important;
    box-sizing: border-box !important;
    margin: 0 0 7px 0 !important;
    width: 530px !important;
    height: auto !important;
}

.pushbully-button {
    position: relative !important;
    margin: 0 3px !important;
    padding: 5px 9px !important;
}

    .pushbully-button:enabled {
        cursor: pointer !important;
    }

    .pushbully-button:disabled {
        cursor: auto !important;
    }

#select-all-button {
    float: left !important;
    margin-left: 0 !important;
    min-width: 111px !important;
}

    #select-all-button:hover:enabled {
        background-color: #9b59b6 !important;
    }

#delete-selected-button {
    float: left !important;
    margin-right: 0 !important;
    min-width: 154px !important;
}

    #delete-selected-button:hover:enabled {
        background-color: red !important;
    }


#delete-all-button {
    float: right !important;
}

    #delete-all-button:hover:enabled {
        background-color: #e67e22 !important;
    }

#refresh-boxes-button {
    float: right !important;
    margin-right: 0 !important;
}

    #refresh-boxes-button:hover {
        background-color: #3498db !important;
    }

.standard-push-icon {
    -webkit-touch-callout: none !important;
    -webkit-user-select: none !important;
    -moz-user-select: none !important;
    -ms-user-select: none !important;
    user-select: none !important;
}

div.push > .standard-push-icon.checkbox:hover:before,
div.push.checked > .standard-push-icon.checkbox:before {
    content: "\f003" !important;
}

div.push > .panel {
    border: 2px solid transparent !important;
}

div.push > .standard-push-icon {
    border: 2px solid transparent !important;
}

div.push.checked > .panel {
    border: 2px solid red !important;
}

div.push.checked > .standard-push-icon.checkbox {
    background-color: transparent !important;
    color: red !important;
    border: 2px dotted red !important;
}

    div.push.checked > .standard-push-icon.checkbox:hover {
        background-color: #ecf0f1 !important;
        border: 2px solid red !important;
    }

div.push.selected > .panel {
    border: 2px solid #59ab46 !important;
}

div.push.checked > .push-close,
div.push.checked > .push-share {
    color: transparent !important;
}

div.note {
    float: right !important;
    width: 530px !important;
    margin: 0 0 0 0 !important;
    top: 1500px !important;
}
