@charset 'UTF-8';

#pushbully-box {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    margin: 0 0 10px 0;
    float: right;
    clear: both;
    width: 100%;
    height: auto;
    display: flex;
    justify-content: space-between;
}

    #pushbully-box :first-child {
        border-top-left-radius: 6px !important;
    }

    #pushbully-box :last-child {
        border-top-right-radius: 6px !important;
    }

    #pushbully-box.roundbottom :first-child {
        border-bottom-left-radius: 6px !important;
    }

    #pushbully-box.roundbottom :last-child {
        border-bottom-right-radius: 6px !important;
    }

#pushbully-settings {
    display: none;
    position: relative;
    margin-bottom: 10px;
    background: white;
    font-size: 18px;
    overflow: hidden;
    min-height: 60px;
    border-radius: 0 0 6px;
    border: 1px solid #ced1d5;
}

/*#region buttons*/

.pushbully-button {
    padding: 5px 9px !important;
    cursor: pointer !important;
    margin: 0 !important;
    border-radius: 0 !important;
    flex-grow: 1 !important;
}

    .pushbully-button:disabled {
        cursor: auto !important;
    }

#select-all-button {
    min-width: 111px !important;
}

    #select-all-button:enabled:-webkit-any(:hover, :active, :focus) {
        background-color: #9B59B6 !important;
    }

#delete-selected-button {
    min-width: 154px !important;
}

    #delete-selected-button:enabled:-webkit-any(:hover, :active, :focus) {
        background-color: #E67E22 !important;
    }

#refresh-boxes-button:enabled:-webkit-any(:hover, :active, :focus) {
    background-color: #3498DB !important;
}

#delete-all-button:enabled:-webkit-any(:hover, :active, :focus) {
    background-color: #E74C3C !important;
}

/*#endregion*/

/*#region pushes*/
/*
.push .inner-panel {
    border: 5px solid transparent !important;
    border-width: 6px 0 !important;
}

.push.highlit .inner-panel {
    outline: 4px inset #59ab46 !important;
}*/

.push.checked {
    background-color: #fae6e4 !important;
}

    .push.checked .push-share {
        color: transparent !important;
    }

    .push.checked.gradient .inner-panel {
        background: linear-gradient(to bottom, rgba(250, 230, 228, 0.80) 0, rgba(0, 0, 0, 0) 100%);
    }

.push .profile-pic:not(.locked) {
    cursor: pointer !important;
    -webkit-touch-callout: none !important;
    -webkit-user-select: none !important;
    -moz-user-select: none !important;
    -ms-user-select: none !important;
    user-select: none !important;
}
/*#endregion*/

/*#region modifications*/

.push_cards {
    clear: both !important;
}

/*#endregion*/
